body {
  background-color: #EFCA83;
}

/*全体の文字の配置*/
.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /*　height: 100vh;  ビューポートの高さいっぱいに要素を配置 */
  }
  /* テキスト要素のスタイル */
  .left-aligned-text {
    text-align: left;
  }

h1 {
    color: #B03D19;
    text-align: center;
}
text{
  text-align:center;
  color: #fff;
}

  /*ボタン*/
.example {
    background-color: #EFCA83;
    color: #B03D19;
    padding: 5px 50px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
  }
  .example span{
    font-size: 25px;
  }
  /*テキストボックスの大きさ*/
  .in{
    width: 200px;
    height: 30px;
    }
  
    /*リンクのところ*/
  .NEWsignin-confirmation{
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: 180px; 
  }

  /*エラー*/
  .error{
    color: red;
    text-align: center;
    font-size: 0.5em;
    text-shadow:
           1px 1px 0px #fff, -1px -1px 0px #fff,
          -1px 1px 0px #fff,  1px -1px 0px #fff,
           1px 0px 0px #fff, -1px  0px 0px #fff,
           0px 1px 0px #fff,  0px -1px 0px #fff;
  }

  .sikaku{
    background-color: #B03D19;
    border-radius:30px;
    width:300px;
    height:260px;
    }